.main__feed__loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  .main__feed__loading__text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #999;
  }
}