.mobilenav {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobilenav {
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
        box-shadow: 2px 0 0 2px rgba(65, 69, 73, .3), 0 1px 3px 1px rgba(65, 69, 73, .15);

        .nav__item {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: .1s linear;
            white-space: nowrap;
            text-decoration: none;
            color: black;
            font-size: 18px;
        }

        .nav__item__active {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 50%;
            transition: .1s linear;
            white-space: nowrap;
            text-decoration: none;
            color: black;
            font-size: 18px;
            color: white;
        }
    }
}