.main {
  width: 100%;
  min-height: calc(100vh - 70px - 50px);
  display: flex;
  justify-content: center;

  .main__feed {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main__header {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    min-height: calc(100vh - 50px - 50px);

    .main__feed {
      max-width: 100%;
      padding: 0 10px;

      .main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #dbdbdb;
      }
    }
  }
}