.main__feed__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
@media only screen and (max-width: 600px) {
    .main__feed__body {
        padding-top: 10px;
    }
}